<form method="post" action="/posts/{{post._id}}?_method=PUT">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      name="title"
      value="{{post.title}}"
      required
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Content</label>
    <input
      type="text"
      name="content"
      class="form-control"
      id="exampleInputPassword1"
      value="{{post.content}}"
      required
    />
  </div>
  <button type="submit" id="btn_create" class="btn btn-primary">Submit</button>
</form>
